env/
webui_beta/
version/
__pycache__/
files/export/
files/metrics/
files/predict/
files/read_files/
files/reports/
files/scan_files/
files/db_insert_test.py
.test_predictions.npy
.trained_model.pth
.X_train
.y_test
.y_train
.X_train
sesh.json/
sesh.json
