# Ignore environment and cache
.venv/
venv/
env/
__pycache__/

# Ignore web UI files
webui_beta/

# Ignore version control files (if applicable)
version/

# Ignore files and subdirectories under the 'files' directory
files/export/
files/metrics/
files/predict/
files/read_files/
files/reports/
files/scan_files/
files/db_insert_test.py

# Ignore model and prediction-related files
.test_predictions.npy
.trained_model.pth
.X_train
.y_train
.y_test

# Ignore session-related files
sesh.json
sesh.json/
