/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #ccc;
    background-color: #222;
}

/* Header styles */
.header-img {
    text-align: center;
    padding: 2px;
    background-color: #444;
}

.header-img img {
    width: 150px;
    filter: invert(100%);
}

/* Navigation styles */
.Navigation {
    background-color: #444;
    overflow: auto;
    white-space: nowrap;
}

.Navigation :active {
    text-decoration: underline;
}

.Navigation a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Navigation a:hover {
    background-color: #777;
    color: white;
}

/* Main content styles */
.main-content {
    padding: 0.5rem;
}

.dashboard-main {
    text-align: center;
}

h2 {
    margin-top: 1.5rem;
}

/* Table styles */
.table-container {
    overflow-x: auto;
    max-width: 100%;
    margin-bottom: 1rem;
}

/* Responsive table */
.responsive-table {
    width: 100%;
    table-layout: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.50rem;
    text-align: left;
    border: 1px solid #555;
}

th {
    background-color: #333;
}

tr:nth-child(even) {
    background-color: #333;
}

.graph-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  display: none;
  min-height: 100%;
  width: 100%;
}

.active-slide {
  display: block;
}
