#journalEntryForm  {
    text-align: center;
    display: block;
}

#journalEntryForm  textarea{
    text-align: center;
    display: block;
    padding: 15px;

}

#journalEntryForm button {
    background-color: azure;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}

#journalEntryForm button:hover{
    background-color: blueviolet;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}

.post-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%; /* Adjust the width as needed */
}

.post-section h2,
.post-section textarea,
.post-section input[type="file"],
.post-section button {
    margin-bottom: 10px;
}

