/* main.css */

/* General Styles */
body {
    font-family: 'Neuropol X Free', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #ececec;
}

/* Header Styles */
.header-img {
    text-align: center;
    padding: 10px;
    background-color: #000000;
}

.header-img img {
    width: 150px;
}

/* Navigation Styles */
.Navigation {
    background-color: #121212;
    display: flex;  
    justify-content: space-around; 
}

.Navigation a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    flex: 1;  
    text-align: center; 
}

.Navigation a:hover {
    background-color: #ddd;
    color: black;
}

/* Main Content Styles */
.main-content {
    padding: 1rem;
}

.dashboard-main {
    text-align: center;
}

/* Tool Item Styles */
.tool-item {
    padding-top: 15px; 
}

.normalize-data {
    background-color: rgb(43, 43, 43);
    color: rgb(235, 235, 235);
    border-radius: 10px;
    padding: 10px;
}

button {
    background-color: rgb(43, 43, 43);
    color: rgb(235, 235, 235);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6f6f6f;
}

/* Table Styles */
.table-container {
    overflow-x: auto;
    max-width: 100%;
    margin-bottom: 1rem;
}

.responsive-table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.50rem;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Graph Styles */
#main-dash {
    justify-content: center;
    background-color: rgb(14, 14, 14);
    max-width: 100%;
}
