<!DOCTYPE html>
<html>
    <head>
        <title>Agrotech - API</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
        <script src="{{ url_for('static', filename='script.js') }}" async></script>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
        <meta name="viewport" content="width=device-width, inital-scale=1">
    </head>
    <body>
        <header>
          <!-- Logo -->
          <div class="header-img">
            <img src="{{ url_for('static', filename='img/agt.png') }}" alt="WiggleHQ">
        </div>
        <header>
          <div class="header-img">
              <img src="{{ url_for('static', filename='img/agt.png') }}" alt="Agrotech Logo">
          </div>
          <!-- Hamburger Icon -->
          <div class="hamburger-menu" id="hamburger-menu">
              <span></span>
              <span></span>
              <span></span>
          </div>
          
          <!-- Slide-out Navigation Menu -->
          <nav class="slide-menu" id="slide-menu">
              <a href="{{ url_for('base') }}">Dashboard</a>
              <a href="{{ url_for('analysis') }}">Analytics</a>
              <a href="{{ url_for('journal') }}">Journal</a>
              <a href="{{ url_for('api') }}">API</a>  
              <a href="{{ url_for('settings') }}">Settings</a>  
          </nav>
      </header>
        <div id="main" class="main-content">
            <div class="link-btn">
              <a href="http://localhost:8000/api/sensor_data">
              <button>Sensor Data</button></a></div>
              <div class="link-btn">
                <a href="http://localhost:8000/api/graph_data">
                <button>Graph Data</button></a></div>
                <div class="link-btn">
                  <a href="http://localhost:8000/api/metric_data">
                  <button>Metric Data</button></a></div>
                  <div class="link-btn">
                  <a href="http://localhost:8000/metric_data">
                    <button>WR Endpoint2</button></a></div>
            <div class="graph"></div>
                    <br>
                  </ul>

            </div>

        </div>
        <script>
          const hamburgerMenu = document.getElementById('hamburger-menu');
          const slideMenu = document.getElementById('slide-menu');
          
          hamburgerMenu.addEventListener('click', function() {
              slideMenu.classList.toggle('active');
          });
      </script>
        {% block body %}{% endblock %}
    </body>
</html>