<!DOCTYPE html>
<html>
<head>
    <title>Agrotech - Journal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='journal.css') }}" type="text/css">
</head>
<body>
    <header>
        <!-- Logo -->
        <div class="header-img">
            <img src="{{ url_for('static', filename='img/agt.png') }}" alt="WiggleHQ">
        </div>
    </header>
    <div class="Navigation">
        <a href="{{ url_for('base') }}">Dashboard</a>
        <a href="{{ url_for('analysis') }}">Analysis</a>
        <a id="active" href="{{ url_for('journal') }}">Journal</a>
        <a href="{{ url_for('api') }}">API</a>  
        <a href="{{ url_for('settings') }}">Settings</a>  
    </div>
    <div id="main" class="main-content">
        <div class="dashboard-main">
            <div class="post-section">
            <form id="journalEntryForm" method="POST" enctype="multipart/form-data">
                <h2>New Journal Entry</h2>
                <textarea name="entryText" placeholder="Share your thoughts, observations, updates..."></textarea>
                <input type="file" name="imageFile" accept="image/*" />
                <input type="file" name="videoFile" accept="video/*" />
                <button type="submit">Post</button>
            </form>
        </div>
            <hr> <div id="journalEntries"> 
                </div> 
        </div>
    </div>
</body>
</html>
