<!DOCTYPE html>
<html>
<head>
    <title>Agrotech - Journal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
</head>
<body>
    <header>
        <div class="header-img">
            <img src="{{ url_for('static', filename='img/agt.png') }}" alt="Agrotech Logo">
        </div>
        <!-- Hamburger Icon -->
        <div class="hamburger-menu" id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
        <!-- Slide-out Navigation Menu -->
        <nav class="slide-menu" id="slide-menu">
            <a href="{{ url_for('base') }}">Dashboard</a>
            <a href="{{ url_for('analysis') }}">Analytics</a>
            <a href="{{ url_for('journal') }}">Journal</a>
            <a href="{{ url_for('api') }}">API</a>  
            <a href="{{ url_for('settings') }}">Settings</a>  
        </nav>
    </header>
    <div id="main" class="main-content">
        <div class="dashboard-main">
            <!-- Your journal content goes here -->
        </div>
    </div>
    <script>
        const hamburgerMenu = document.getElementById('hamburger-menu');
        const slideMenu = document.getElementById('slide-menu');
        
        hamburgerMenu.addEventListener('click', function() {
            slideMenu.classList.toggle('active');
        });
    </script>
</body>
</html>
